[Desktop Entry]
Version=1.0
Name=Burp Suite
Comment=Launch Burp Suite
Exec=/usr/bin/burpsuite
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Utility;